.mission-container {
    font-size: 12px;
    padding: 20px 25px;
}

.mission-item {
    color: var(--light-gray);
    display: block;
    margin-bottom: 20px;
    text-align: left;
}

.mission-button-container {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.mission-button-container div {
    background-color: var(--white);
    border: 1px solid var(--dark-gray);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
}

.mission-quote {
    background-color: var(--gray);
    display: block;
    font-style: italic;
    text-indent: 15px;
}

.mission-button-container div.active {
    background-color: var(--light-gray);
}

.mission-button-container div img {
    height: 20px;
}

.mission-font-size-small {
    font-size: 14px;
}

.mission-font-size-medium {
    font-size: 16px;
}

.mission-font-size-large {
    font-size: 18px;
}

.mission-font-size-extra-large {
    font-size: 24px;
}
