.box-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.box-wrapper:hover {
    background-color: #ddd;
}
