.blur-load::before {
    content: '';
    inset: 0;
    position: absolute;
}

.blur-load {
    background-position: center;
    background: linear-gradient(to right, #f6f6f6 8%, #ece9e9 18%, #f6f6f6 33%);
    background-size: 1000px 100%;
    animation: shimmer 2.2s linear infinite forwards;
    height: 100%;
    max-height: 400px;
    position: relative;
    width: 100%;
}

.blur-load.loaded {
    animation: none;
    background-size: cover !important;
    background: #f6f6f6;
}

.blur-load.loaded > img {
    opacity: 1;
}

.blur-load > img {
    object-fit: contain;
    object-position: center;
    opacity: 0;
    transition: all 300ms ease-in-out;
    width: 100%;
}

.screenshot-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.screenshot-preview {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.screenshot-preview::-webkit-scrollbar {
    height: 5px;
}

.screenshot-preview img {
    transition: all 300ms ease-in-out;
    width: 100%;
}

.screenshot-preview > .blur-load:hover {
    background-color: var(--gray);
    opacity: 0.5;
}

.screenshot-preview img.active {
    background-color: var(--gray);
    opacity: 0.5;
}

.screenshot-image {
    align-items: center;
    display: flex;
    flex: 1;
    object-fit: contain;
}

.screenshot-image img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.screenshot-preview img {
    min-height: 100px;
    max-height: 100px;
    object-fit: contain;
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}
