.container {
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

    @media (min-width: 768px) {
        width: 720px;
    }

    @media (min-width: 992px) {
        width: 960px;
    }

    @media (min-width: 1200px) {
        width: 1140px;
    }
}

/* NEW Stylesheet */
.fullscreen {
    align-items: center;
    display: flex;
    height: calc(100% - 30px);
}

.fullscreen-enabled .preferences-container {
    height: 100vh !important;
    margin: 0 !important;
    max-width: 100% !important;
    width: 100vw !important;
    border-radius: 0 !important;
}

.fullscreen-enabled .preferences-body {
    height: 100%;
}

.preferences-container {
    background-color: var(--dark-gray);
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    cursor: default;
    display: flex;
    flex-direction: column;
    opacity: 0;
    padding: 0;
    height: 0px;
    transition: height 300ms ease-in-out, width 300ms ease-in-out,
        opacity 500ms ease-in-out;
}

@media screen and (max-width: 687px) {
    .preferences-container {
        border-radius: 0px;
        height: 100%;
        margin-top: 0px;
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .preferences-container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .preferences-container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1200px) {
    .preferences-container {
        max-width: 1140px;
    }
}

.is-open {
    height: 100%;
    max-height: 70vh;
    opacity: 1;
    z-index: 10;
}

@media screen and (max-width: 687px) {
    .is-open {
        height: 100%;
        max-width: 100%;
    }
}

.preferences-menu {
    background-color: var(--dark-gray);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    overflow-y: auto;
}

.preferences-body {
    padding: 20px 25px;
}

.preferences-body--suspense {
    padding: 15px;
}

@media screen and (max-width: 687px) {
    .preferences-menu {
        border-radius: 0px;
        height: calc(100% - 80px);
        width: 100%;
    }
}

.fullscreen-enabled .preferences-menu {
    border-radius: 0;
}

.desktop-icon-menu > div {
    margin-right: 20px;
}

.desktop-icon-menu > div:last-child {
    margin-right: 0px;
}

.desktop-icon-menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.desktop-icon {
    background: rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0px 0px;
    width: 100px;
}

.desktop-icon img {
    height: 70px;
}

.desktop-icon div {
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
}

.desktop-icon.is-selected {
    background-color: var(--black-transparent);
}
