.container {
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

    @media screen and (max-width: 687px) {
        .container {
            align-items: center;
            justify-content: space-around !important;
        }
    }

    @media (min-width: 768px) {
        width: 720px;
    }

    @media (min-width: 992px) {
        width: 960px;
    }

    @media (min-width: 1200px) {
        width: 1140px;
    }
}

.brand-logo {
    height: 25px;
    margin-right: 15px;
}

.header-left {
    align-items: center;
    cursor: default;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.header-left:hover {
    text-decoration: none;
}

.header-left > div {
    color: var(--light-gray);
}

.header-right {
    align-items: center;
    color: var(--black);
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 14px;
}

.header-right div {
    margin-left: 20px;
}

.header-right .time {
    color: var(--light-gray);
}

.header-right-item {
    border-right: 1px solid var(--black);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 5px 20px;
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

.header-right-item:hover {
    text-decoration: none;
}

.header-right-item img {
    height: 20px;
}

.header-right-item div {
    color: var(--light-gray);
    margin-left: 7px;
}

nav.navbar {
    background-color: var(--dark-gray);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    height: 30px;
    padding: 0;
}
