.Home {
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    /* transition: all 2s ease-in-out; */
    /* animation: fadeIn 1s ease-in-out forwards; */
}
