/* NEW Stylesheet */
.fullscreen {
    height: 100%;
}

.fullscreen-enabled .preferences-container {
    height: 100%;
    margin-top: 0px;
    max-width: 100%;
}

.fullscreen-enabled .preferences-body {
    height: 100%;
}

.preferences-container {
    background-color: var(--gray);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
    cursor: default;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
    transition: all 500ms ease-in-out;
}

.preferences-body {
    background-color: var(--light-gray);
    height: 500px;
    overflow-y: scroll;
    padding: 20px 25px;
}
