.content-renderer-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.content-renderer-section-title {
  font-weight: bold;
  text-align: left;
  padding: 5px 0 10px 15px;
}

.content-renderer-form {
  display: flex;
  flex-direction: column;
}

.content-renderer-form-item {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.content-renderer-form-item-label {
  font-weight: bold;
  flex: 1;
  margin: 5px 15px 5px 0px;
  text-align: right;
}

.content-renderer-form-item-field {
  background-color: var(--white);
  border: 1px solid var(--gray);
  flex: 3;
  padding: 2px 0 2px 5px;
  text-align: left;
}

.content-renderer-form-item-textarea {
  background-color: var(--white);
  border: 1px solid var(--gray);
  flex: 3;
  padding: 2px 0 2px 5px;
  text-align: left;
}

.content-renderer-form-item-keywords {
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: row;
  flex: 3;
  flex-wrap: wrap;
  padding: 2px 0 2px 5px;
}

@media screen and (max-width: 687px) {
  .content-renderer-form-item-keywords {
    flex-direction: column;
    justify-content: center;
  }
}

.content-renderer-form-item-keyword-item {
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: 10px;
  color: var(--gray);
  cursor: default;
  display: flex;
  margin-right: 5px;
  margin-top: 1px;
  padding: 2px 5px;
}

@media screen and (max-width: 687px) {
  .content-renderer-form-item-keyword-item {
    margin-top: 5px;
    width: 70%;
  }
}
