.renderer-container {
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    height: 100%;
    font-size: 12px;
    flex: 3;
    margin-left: 5px;
    padding: 15px 10px;
    position: relative;
    min-width: 350px;
}
