.ResumeFooter {
    background-color: var(--gray);
    bottom: 0;
    display: flex;
    flex-direction: row;
    font-size: var(--resume-font-size-text);
    justify-content: space-between;
    padding: 2px 30px;
    position: absolute;
    width: 100%;
}

.ResumeFooter__50 {
    flex: 1;
    text-align: left;
}

.ResumeFooter__50:last-child {
    text-align: right;
}
