/*
  Resume Size Ratio: 595/842 = 0.705
*/
.resume {
    background-color: var(--white);
    -webkit-box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.75);
    color: var(--black);
    display: flex;
    flex-direction: column;
    font-family: roboto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.resume.mission-font-size-small {
    height: var(--resume-height);
    max-width: var(--resume-width);
    width: 100%;
}

.resume.mission-font-size-medium {
    height: calc(var(--resume-height) * 1.2);
    max-width: calc(var(--resume-width) * 1.2);
    width: 100%;
}

.resume.mission-font-size-large {
    height: calc(var(--resume-height) * 1.4);
    max-width: calc(var(--resume-width) * 1.4);
    width: 100%;
}

.resume.mission-font-size-extra-large {
    height: calc(var(--resume-height) * 1.8);
    max-width: calc(var(--resume-width) * 1.8);
    width: 100%;
}

.Resume__bg {
    background-color: var(--light-gray);
    background-size: cover;
    background-position: top;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transition: all 2s linear;
}

.Resume__header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Downloader {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    transition: all 300ms ease-in-out;
}

.Downloader:hover {
    background-color: var(--gray);
}
