.ResumeHeader {
    background-color: var(--gray);
    border-bottom: 2px solid var(--gray);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 15px 30px;
}

.mission-font-size-medium .ResumeHeader {
    padding: 35px 20px 15px 35px;
}

.mission-font-size-large .ResumeHeader {
    padding: 40px 25px 20px 40px;
}

.mission-font-size-extra-large .ResumeHeader {
    padding: 50px 30px 30px 60px;
}

.ResumeHeader.dark-theme {
    background: none;
    z-index: 0;
}

.ResumeHeader__bg {
    background-color: var(--light-gray);
    background-size: cover;
    background-position: bottom;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transition: all 2s linear;
}

.ResumeHeader__profile {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    z-index: 1;
}

.ResumeHeader__profile--name {
    font-size: var(--resume-font-size-heading);
    font-weight: bold;
    line-height: 1.1;
    transition: color 1s linear;
}

.mission-font-size-medium .ResumeHeader__profile--name {
    font-size: calc(var(--resume-font-size-heading) * var(--resume-scale-2));
}

.mission-font-size-large .ResumeHeader__profile--name {
    font-size: calc(var(--resume-font-size-heading) * var(--resume-scale-3));
}

.mission-font-size-extra-large .ResumeHeader__profile--name {
    font-size: calc(var(--resume-font-size-heading) * var(--resume-scale-4));
}

.ResumeHeader__profile--role {
    color: var(--white);
    font-size: var(--resume-font-size-subheading);
    transition: color 1s linear;
}

.mission-font-size-medium .ResumeHeader__profile--role {
    font-size: calc(var(--resume-font-size-subheading) * var(--resume-scale-2));
}

.mission-font-size-large .ResumeHeader__profile--role {
    font-size: calc(var(--resume-font-size-subheading) * var(--resume-scale-3));
}

.mission-font-size-extra-large .ResumeHeader__profile--role {
    font-size: calc(var(--resume-font-size-subheading) * var(--resume-scale-4));
}

.ResumeHeader__profile--summary {
    font-size: var(--resume-font-size-text);
    margin-top: 10px;
    opacity: 0.85;
    transition: color 1s linear;
}

.mission-font-size-medium .ResumeHeader__profile--summary {
    font-size: calc(var(--resume-font-size-text) * var(--resume-scale-2));
}

.mission-font-size-large .ResumeHeader__profile--summary {
    font-size: calc(var(--resume-font-size-text) * var(--resume-scale-3));
}

.mission-font-size-extra-large .ResumeHeader__profile--summary {
    font-size: calc(var(--resume-font-size-text) * var(--resume-scale-4));
}

.ResumeHeader__contact {
    align-items: flex-end;
    display: flex;
    flex: 2;
    flex-direction: column;
    font-size: var(--resume-font-size-small);
    justify-content: space-between;
    opacity: .65;
    z-index: 1;
    transition: color 1s linear;
}

.mission-font-size-medium .ResumeHeader__contact {
    font-size: calc(var(--resume-font-size-small) * var(--resume-scale-2));
}

.mission-font-size-large .ResumeHeader__contact {
    font-size: calc(var(--resume-font-size-small) * var(--resume-scale-3));
}

.mission-font-size-extra-large .ResumeHeader__contact {
    font-size: calc(var(--resume-font-size-small) * var(--resume-scale-4));
}
