.ResumeBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px;
    text-align: left;
}

.ResumeBody__50 {
    flex: 1;
    margin-right: 30px;
}

.ResumeBody__50:last-child {
    margin-right: 0px;
}

.ResumeBody__content--title {
    font-weight: bold;
    font-size: var(--resume-font-size-subheading);
    margin-bottom: 5px;
}

.ResumeBody__experience-box {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.ResumeBody__experience-box--title {
    font-weight: bold;
    font-size: var(--resume-font-size-subheading);
}

.ResumeBody__experience-box--company {
    font-size: var(--resume-font-size-subheading);
}

.ResumeBody__experience-box--date {
    color: var(--red);
    font-size: var(--resume-font-size-small);
    font-style: italic;
}

.ResumeBody__experience-box--achievements {
    font-size: var(--resume-font-size-text);
}
