.side-menu-item {
    display: flex;
    color: var(--dark-gray);
    display: flex;
    font-size: 12px;
}

.side-menu-item:hover {
    background-color: var(--gray);
}

.side-menu-item.active {
    background-color: var(--gray);
}

.side-menu-item div {
    padding: 10px 5px;
}

.side-menu-item div:nth-child(1) {
    /* border-right: 1px solid var(--gray); */
    width: 40px;
}
