.section-container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 25px;
}

.section-header {
    align-items: center;
    border-bottom: 1px solid var(--gray);
    display: flex;
    font-size: 14px;
    flex-direction: row;
    padding: 3px 0px;
    justify-content: space-between;
}

.section-title {
    color: var(--dark-gray);
}

.section-topic {
    border-bottom: 1px solid var(--gray);
    color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    padding: 10px 5px;
    text-align: left;
}

.section-topic-item {
    text-decoration: none;
}

.section-item-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.section-item-container:hover {
    background-color: var(--gray);
    text-decoration: none;
}

.section-item-container:hover img {
    animation: bump 500ms infinite forwards;
}

@keyframes bump {
    0% {
        margin-top: 5px;
    }

    50% {
        margin-top: 1px;
    }

    100% {
        margin-top: 5px;
    }
}

.section-item-container img {
    display: flex;
    height: auto;
    margin-top: 5px;
    padding: 5px;
    width: 50px;
}

.section-update-button {
    background-color: var(--dark-gray);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-size: 9px;
    flex-direction: row;
    border-radius: 5px;
}

.section-update-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.section-update-button div {
    padding: 2px 5px;
}

.section-update-button div:nth-child(1) {
    border-right: 1px solid var(--gray);
}
