.section-container {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 25px;
}

.section-header {
  align-items: center;
  border-bottom: 1px solid var(--gray);
  display: flex;
  font-size: 12px;
  flex-direction: row;
  padding: 3px 0px;
  justify-content: space-between;
}

.section-title {
  color: var(--dark-gray);
  font-size: 13px;
}

.section-topic {
  border-bottom: 1px solid var(--gray);
  color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  padding: 10px 5px;
  text-align: left;
}

.section-topic-item {
  font-size: 11px;
}

.section-update-button {
  background-color: var(--dark-gray);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 9px;
  flex-direction: row;
  border-radius: 5px;
}

.section-update-button div {
  padding: 2px 5px;
}

.section-update-button div:nth-child(1) {
  border-right: 1px solid var(--gray);
}
