.menu-item {
    font-size: 12px;
    margin: 2px 0px 0px 0px;
    padding: 5px 10px 0px;
    cursor: default;
}

.menu-item img {
    transition: transform 300ms ease-in-out;
}

.menu-item.active {
    background-color: var(--dark-gray);
}

.menu-item:hover img {
    transform: rotate(360deg);
}

.menu-item img {
    height: 40px;
}

.menu-item .active {
    background-color: #b3b3b3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
