:root {
    --main-color: #00ff00;
    --gray: #d1d1d1d8;
    --red: #F00;
    --yellow: #FF0;
    --coral:#FF7F50;
    --darkorange: #FF8C00;
    --orange: #FFA500;
    --green: #0F0;
}

.apple-red {
    background-color: var(--red);
}

.apple-yellow {
    background-color: var(--orange);
}

.apple-green {
    background-color: var(--green);
}
