:root {
    --main-color: #00ff00;
    --blue: #58c4e2;
    --black: #000;
    --black-transparent: rgba(0,0,0,0.5);
    --white: #fff;
    --gray: #DDD;
    --light-gray: #ededed;
    --dark-gray: #808080;
    --red: #F00;
    --palevioletred: #DB7093;
    --yellow: #FF0;
    --coral:#FF7F50;
    --darkorange: #FF8C00;
    --orange: #FFA500;
    --green: #0F0;
    --theme-font-size: 14px;
    --resume-font-size: 14px;
    --resume-font-size-small: 9px;
    --resume-font-size-text: 10px;
    --resume-font-size-subheading: 12px;
    --resume-font-size-heading: 16px;
    --resume-scale-1: 1.1;
    --resume-scale-2: 1.2;
    --resume-scale-3: 1.3;
    --resume-scale-4: 1.4;
    --resume-width: 595px;
    --resume-height: 842px;
}
