.top-navigation-container {
  background-color: var(--gray);
  padding: 5px 10px;
}

@media screen and (max-width: 687px) {
  .top-navigation-container {
    padding: 0;
    width: 100%;
  }
}

.navigation-menu {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 687px) {
  .top-navigation-container {
    justify-content: space-between;
  }
}
